{% extends 'layout.html' %}

{% block content %}
<section class="main">
    <h1 style="text-align: center;font-size: 40px;">FREEBOARD</h1>
    <div class="list-div">
        <table id="main-table">
            <thead>
                <tr><th style="min-width:80px;" class="th-asc">ID</th>
                    <th style="width:500px;">Title</th>
                    <th style="width:120px;">Name</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody id="target-tbody">
                {% for post in posts %}
                <tr>
                    <td><a href="/detail/{{post.id}}">{{post.id}}</a></td>
                    <td><a href="/detail/{{post.id}}">{{post.title}}</a></td>
                    <td><a href="/detail/{{post.id}}">{{post.username}}</a></td>
                    <td><a href="/detail/{{post.id}}">{{post.createdAt}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<section class="sidebar">
    <div class="box">
        {% if user %}
        <h3>Welcome, {{ user.nick }}!</h3><br>
        <a href="/write"><button>Post</button></a>
        <a href="/auth/logout"><button>Logout</button></a>
        {% else %}
        <h3>please log in</h3><br>
        <a href="/login"><button>Login</button></a>
        <a href="/join"><button>Sign up</button></a>
        {% endif %}
    </div>
</section>
{% endblock %}
{% block script %}

<script>
const table = document.querySelector("#main-table")
const sortingButtons = Array.from(table.querySelectorAll("th"))

function sortTableByColumn (table, column, asc = true) {
    const dirModifier = asc ? 1 : -1
    const tBody = table.tBodies[0];
    const rows = Array.from(tBody.querySelectorAll("tr"))

    // sort each row
    const sortedRows = rows.sort((a,b) => {
        const aColText = a.querySelector(`td:nth-child(${column + 1})`).textContent.trim()
        const bColText = b.querySelector(`td:nth-child(${column + 1})`).textContent.trim()

        return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier)
    })

    tBody.innerHTML = ""
    tBody.append(...sortedRows)

    const selectedButton = sortingButtons[column] 

    sortingButtons.forEach(function(otherButton){if(otherButton !== selectedButton){otherButton.classList.remove("th-asc","th-dsc")}})

    selectedButton.classList.toggle("th-asc",asc);
    selectedButton.classList.toggle("th-dsc",!asc);
}

sortingButtons.forEach(function(button,index,arr) {
    button.addEventListener("click", function() {
        if (button.classList.contains("th-asc")) {
            sortTableByColumn(table,index,false)
        } else {
            sortTableByColumn(table,index,true) 
        }
    })  
})
</script>
{% endblock %}