<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="https://secure.gravatar.com/avatar/34e95e0d41845e056b6e6cd249d90121?d=retro&f=y" type="image/x-icon">
</head>
<body>
{% block content %}
{% endblock %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% block script %}
{% endblock%}
</body>
</html>