<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/login.css">
    <link rel="icon" href="https://secure.gravatar.com/avatar/34e95e0d41845e056b6e6cd249d90121?d=retro&f=y" type="image/x-icon">
</head>
<body>
    <div class="box">
        <form id="login-form"
      {% if title === "Login" %} action="/auth/login"
      {% elif title === "Sign Up" %} action="/auth/join"
      {% endif %} method="post">
    <h2>{{ title }}</h2>
    <div class="inputBox">
        <input type="text" required name="nick">
        <span>Username</span>
        <i></i>
    </div>
    <div class="inputBox">
        <input type="password" required name="password">
        <span>Enter Password</span>
        <i></i>
    </div>
    <input type="submit" value="Login">
    <div class="links">
        <a href="#">Forgot Password?</a>
        {% if title !== 'Sign Up' %}<a href="/join">Sign Up</a>{% endif %}
    </div>
</form>
    </div>
</body>
</html>