*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height:100vh;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #23242a;
    color:#d3d3d3;
    height:100%;
}

.sidebar 
{
    display: flex;
    align-items: flex-start;
    height:100%;
}

.sidebar .box {
    width:200px;
    margin:100px 30px 30px 30px;
    padding:20px 20px 5px;
    border: #d3d3d3 1px solid;
    margin-bottom: 12px!important;
}

.sidebar .box button {
    font-size: 1em;
    background-color: aqua;
    border:none;
    padding:8px;
    border-radius: 100px;
    width:100%;
    font-weight: 500;
    cursor: pointer;
}

.sidebar .box a {
    margin-bottom: 16px;
    display: block;
}

.main {
    margin-top: 1em;
    padding:0 20px;
    height: 80%;
}

table {
    border-spacing: 0 ;
    border-collapse: collapse; 
}
tbody tr {
    border-bottom: 1px solid #bbb;
}

tbody tr:hover{
    background-color: #333333;
}

th {
    background-color: #444;
    color:white;
    min-width: 70px;
    padding:10px 20px;
    text-align: start;
    cursor: pointer;
}

th:hover, .th-asc, .th-dsc {
    background-color: #666;
}

.th-asc::after {
    content:"▼";
    float: right;
    transform: scale(0.5);
}

.th-dsc::after {
    content:"▲";
    float: right;
    transform: scale(0.5);
}

td {
    min-width: 75px;
    padding:0;
}

.write-form .title-div{
    border: 1px solid #43494c;
    font-size:1em;
    margin-bottom: 1.25em;
}
.write-form .title-div label{
    padding:4px 8px;
    font-size:1em;
    width: 10%;
}
.write-form .title-div input{
    padding:4px 8px;
    font-size:1em;
    background-color: black;
    width:660px;
    color:#fff;
}
.content-div {
    width:100%;
}
.content-div textarea {
    width:100%;
    height: 400px;
    padding:20px;
    font-size: 20px;
}
.write-form button {
    float:right;
    color:#fff;
    border:1px solid #fff;
    font-size: 20px;
    border-radius: 0;
    padding:2px 8px;
    background-color: #222;
    margin-top: 1em;
    cursor: pointer;
}
.write-form button:hover {
    background-color: #ddd;
    color:#222
    
}
table a {
    color:#d3d3d3;
    text-decoration: none;
    display:block;
    height:100%;
    width:100%;
    padding:10px 20px;
}
.detail {
    width: 700px;
    height:80%;
    color:#eeeeee;
}
.detail-box {
    background-color: #333;
}
.detail h2{
    color:#eee;
    background-color: #444;
    padding:7px 14px;
    border-bottom: 1px solid #777;
    border-top: 1px solid #777;
}
.info-box {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    border-bottom: 1px solid #777;
}
.content-box {
    min-height:120px;
    padding:10px;
    display: flex;
    align-items: center;
}
h1 a {
    color: #eeeeee;
    text-decoration: none;
}
h1 {
    text-align: center;font-size: 40px;
    margin-bottom: 1.5em;
    color: #eeeeee;
}